@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

/* globals.css */

/* Keyframes for dot movement */
@keyframes moveDots {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Keyframes for subtle color change */
@keyframes colorChange {
  0% {
    background-color: rgba(255, 255, 255, 0.1); /* Very subtle white */
  }
  25% {
    background-color: rgba(255, 0, 0, 0.1); /* Subtle red */
  }
  50% {
    background-color: rgba(0, 255, 0, 0.1); /* Subtle green */
  }
  75% {
    background-color: rgba(0, 0, 255, 0.1); /* Subtle blue */
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1); /* Very subtle white */
  }
}

/* Horizontal scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Base styles for the body */
body {
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  background-color: #f0f0f0 !important; /* Light grey background for better contrast */
  background-image: 
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 20%, transparent 30%),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 20%, transparent 30%),
    radial-gradient(circle, rgba(0, 0, 0, 0.05) 10%, transparent 20%);
  background-size: 30px 30px, 50px 50px, 40px 40px;
  animation: moveDots 20s linear infinite, colorChange 20s ease-in-out infinite;
  margin: 0;
  padding: 0;
  color: #333; /* Text color for light mode */
  overflow: hidden; /* Prevent overflow */
}

/* Dark mode styling */
.dark body {
  background-color: #1a1a1a !important; /* Dark grey background for dark mode */
  background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.05) 10%, transparent 20%);
  background-size: 30px 30px, 50px 50px, 40px 40px;
  animation: moveDots 20s linear infinite, colorChange 20s ease infinite;
  color: #eee; /* Text color for dark mode */
}
/* Apply the animation to the scrolling container */
.animate-scroll {
  cursor: default;
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}
